@import '../../../styles//variables.scss';

.card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 856px;
  margin: 0 auto;
  box-shadow: 0px 3px 8px 0px rgb(34 60 80 / 20%);
  padding: 11px 9px;

  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card__header_info {
      display: flex;
      align-items: center;

      .card__header__avatar {
        width: 40px;
      }

      .text__content {
        margin-left: 10px;

        .user__name {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 13px;
          color: $gray-text;
        }

        .user__text {
          font-style: italic;
          font-weight: 400;
          font-size: 12px;
          line-height: 9px;
          color: $gray-text;
        }
      }
    }

    .card__header__buttons {
      display: flex;
      align-items: center;
      gap: 30px;

      .buttons_position {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          padding: 8px 10px;
          background-color: white;
          border: 1px solid $main_blue;
          border-radius: 2px;
          color: $main_blue;
          font-size: 11px;
          line-height: 11px;
          text-align: center;
          cursor: pointer;
        }
      }

      .card__header_actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110px;

        img {
          width: 22px;
          height: 22px;
          cursor: pointer;
        }

        .active {
          filter: invert(36%) sepia(39%) saturate(2861%) hue-rotate(184deg) brightness(98%) contrast(105%);
        }
      }
    }
  }

  .card__content {
    display: flex;
    align-items: flex-start;

    .card__content__time {
      width: 40px;
      color: $gray-text;
    }

    .card__content__mainContent {
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin-left: 10px;
      line-height: 22px;
      letter-spacing: -0.035em;
      color: $black-text;

      video {
        max-width: 50%;
        margin-top: 15px;
      }

      img {
        max-width: 50%;
        margin-top: 15px;
      }
    }
  }
}

footer {
  .card__tag {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: $tag-color;

    &.active {
      color: $main_blue;
      margin-right: 10px;
    }
  }
}